body {
    font-family: 'Source Sans Pro', 'Helvetica Neue';
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: aliceblue !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar {
    z-index: 9;
    position: fixed;
    background: black;
    padding-top: 20px;
    width: 100%;
    top: 0;
    height: 60px;
    margin-right: 20px;
}

.fa-bars {
    margin-top: -10px;
}

.left_area {
    margin-top: -10px;
    margin-left: 20px;
    color: #fff;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
}

.dropdown-toggle {
    margin-right: 20px;
    color: white;
}

.right_area {
    float: right;
    margin-top: -5px;
}

.dropdown-menu {
    margin-top: 25px !important;
    margin-right: 20px !important;
    width: 225px;
    text-align: center !important;
}

.dropdown-menu p {
    padding-bottom: 5px !important;
}

.dropdown-item {
    text-align: left !important;
}

#sidebar_btn {
    color: #fff;
    padding-left: 20px;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

#sidebar_btn:hover {
    color: #007bff;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: black;
    margin-top: 60px;
    padding-top: 40px;
    position: fixed;
    width: 200px;
    transition: 0.2s;
    min-height: 100%;
}

.sidebar a {
    color: white;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none !important;
    padding-left: 20px;
    font-weight: 600;
    box-sizing: border-box;
    transition: 0.5s;
}

.sidebar a:hover {
    color: #007bff;
}

.sidebar i:hover {
    color: #007bff;
}

.sidebar i {
    padding-right: 10px;
}

.content {
    width: (100%-250px);
    margin-top: 60px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 30px;
    margin-left: 200px;
    height: 100%;
}

.content .breadcrumb {
    background-color: #dee2e6;
}

.content .breadcrumb a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.box {
    background-color: white;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: .25rem;
}

.modal-body span {
    margin-left: 5px !important;
    margin-bottom: 5px;
    width: 150px;
}

.box span {
    width: 120px;
}

.box input {
    margin-right: 20px;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-aqua,
.bg-green,
.bg-yellow,
.bg-red {
    color: #fff !important;
}

#check {
    display: none;
}

#check:checked~.sidebar {
    z-index: 1;
    top: 0;
    background: black;
    margin-top: 60px;
    padding-top: 20px;
    position: fixed;
    width: 50px;
    height: 100%;
    transition: 0.2s;
}

#check:checked~.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: 0.2s;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.content {
    margin-left: 50px;
}

@media only screen and (max-width: 650px) {
    body {
        overflow-y: auto;
        overflow-x: auto;
    }
    .fa-bars {
        margin-top: -30px;
        margin-left: -5px;
    }
    .left_area {
        margin-top: -5px;
        margin-left: 5px;
        padding-left: 40px;
        font-size: 22px;
        display: inline-block;
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
    }
    .left_area:hover {
        overflow: scroll;
    }
    .right_area {
        float: right;
        margin-top: -5px;
        margin-right: -10px;
    }
    .sidebar {
        padding-top: 40px;
        position: fixed;
        width: 50px;
        max-height: 100%;
        transition: 0.2s;
    }
    .sidebar a {
        color: #fff;
        display: block;
        width: 100%;
        font-size: 20px;
        line-height: 40px;
        text-decoration: none;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .sidebar a span {
        display: none;
    }
    .content {
        width: 100%;
        min-height: 100%;
        margin-top: 60px;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 50px;
    }
    #check:checked~.sidebar {
        padding-top: 50px;
        position: fixed;
        width: 150px;
        overflow-y: hidden;
        height: 100%;
    }
    #check:checked~.sidebar a {
        color: #fff;
        width: 100%;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        padding-left: 15px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.5s;
    }
    #check:checked~.sidebar a span {
        display: inline-block;
    }
    #check:checked~.content {
        margin-left: 150px;
        transition: 0.5s;
    }
}